{% extends 'myapp/base.html' %}

{% block title %}Autores{% endblock %}

{% block content %}
<h2>Autores</h2>
<a href="{% url 'cadastrar_autor' %}" class="btn btn-success mb-3">Novo Autor</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td>{{ autor.nome }}</td>
            <td>
                <a href="{% url 'visualizar_autor' autor.pk %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'editar_autor' autor.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_autor' autor.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}