<h1>Cadastrar Livro</h1>
<form method="post">
    {% csrf_token %}
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" id="titulo">
    <label for="autor">Autor:</label>
    <select name="autor" id="autor">
        {% for autor in autores %}
        <option value="{{ autor.id }}">{{ autor.nome }}</option>
        {% endfor %}
    </select>
    <label for="ano_publicacao">Ano de Publicação:</label>
    <input type="number" name="ano_publicacao" id="ano_publicacao">
    <button type="submit">Salvar</button>
</form>
